
<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-12 col-md-6 col-sm-12 col-12 card mx-2">
            <div class="card-body row">
                <div class="m-auto col-4">
                    <i class="bi bi-person-plus-fill" style="font-size: 30px ;border-radius: 50%;"></i>
                </div>
                <div class="m-auto col-8 d-grid">
                    <a href="/user/create" class="btn btn-primary"><b>Crear</b></a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-6 col-sm-12 col-12 card mx-2">
            <div class="card-body row">
                <div class="m-auto col-6">
                    <i class="bi bi-person-fill" style="font-size: 30px;">{{count}}</i>
                </div>
                <div class="m-auto col-6">
                    <a href="/users/list" class="btn btn-primary"><b>Lista</b></a>
                </div>
            </div>
        </div>
    </div>
</div> 