<div class="sidebar-wrapper sidebar-theme">  
    <nav id="sidebar">
        <div class="shadow-bottom"></div>
        <ul class="list-unstyled menu-categories" id="accordionExample">

            <li class="menu">
                <a href="#dashboard" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle collapsed">
                    <p class="">
                        <i class="lead bi bi-bar-chart-fill"></i>
                        <strong>Panel</strong>
                    </p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" id="dashboard" data-parent="#accordionExample">
                    <li class="active">
                        <a href="#"> Resumen </a>
                    </li>
                    <li>
                        <a href="#"> Estadísticas </a>
                    </li>
                </ul>
            </li>   

            <li class="menu">
                <a href="#user" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <p class="">
                        <i class="lead bi bi-people-fill"></i>
                        <strong>Usuarios</strong>
                    </p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" id="user" data-parent="#accordionExample">
                    <li class="">
                        <a href="/users"> Estadísticas </a>
                    </li>
                    <li class="">
                        <a href="/users/list"> Lista </a>
                    </li>
                </ul>
            </li>   

            <li class="menu">
                <a href="/config" data-active="true" class="dropdown-toggle">
                    <p class="">
                        <i class="lead bi bi-wrench-adjustable-circle-fill"></i>
                        <strong>Configuraciones</strong>
                    </p>
                </a>
            </li> 

            <li class="menu">
                <a href="#stock" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <p class="">
                        <i class="lead bi bi-backpack-fill"></i>
                        <strong>Inventario</strong>
                    </p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" id="stock" data-parent="#accordionExample">
                    <li class="">
                        <a href="#"> Inventario </a>
                    </li>
                    <li>
                        <a href="#"> Productos </a>
                    </li>
                </ul>
            </li>   

            <li class="menu">
                <a href="#servicios" data-active="true" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                    <p class="">
                        <i class="lead bi bi-list-task"></i>
                        <strong>Servicios</strong>
                    </p>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                </a>
                <ul class="submenu list-unstyled collapse" id="servicios" data-parent="#accordionExample">
                    <li class="">
                        <a href="#"> Tipos </a>
                    </li>
                    <li>
                        <a href="#"> Trabajos </a>
                    </li>
                </ul>
            </li>   

        </ul>     
    </nav>
</div>