<link href="/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row">
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-two">
                <div class="widget-heading">
                    <h5 class="">Crear servicio</h5>
                </div>
                <div class="widget-content p-3">
                    <a href="/service/create" class="btn btn-primary col-12">crear</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-two">
                <div class="widget-heading">
                    <h5 class="">Lista de servicio</h5>
                </div>
                <div class="widget-content p-3">
                    <a href="/service/list" class="btn btn-primary col-12">crear</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-two">
                <div class="widget-heading">
                    <h5 class="">Gráfica: Tipo de servicio</h5>
                </div>
                <div class="widget-content">
                    <div id="chart-2" class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- <script src="/assets/js/custom.js"></script> --}}
<!-- END GLOBAL MANDATORY SCRIPTS -->

<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
<script src="/plugins/apex/apexcharts.min.js"></script>
<script src="/assets/js/dashboard/dash_1.js"></script>

<script>
    
    
</script>