
<div class="container">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3 card mx-2">
            <div class="card-body">
                <h5>Crear servicio</h5>
                <a href="/service/create" class="btn btn-primary col-12">crear</a>
            </div>
        </div>
        <div class="col-6 col-md-4 col-lg-3 card mx-2">
            <div class="card-body">
                <h5>Ver servicios</h5>
                <a href="/service/list" class="btn btn-primary col-12">lista</a>
            </div>
        </div>
    </div>
</div>
