
<div class="container">
    <div class="row d-flex justify-content-between mb-2">
        <span></span>
        <div class="">
            <a href="/config" class="btn btn-primary">panel</a>
            <a href="/config/money/list" class="btn btn-primary">lista</a>
        </div>
    </div>

    <form method="post" action="/config/money/create" class="form-row col-12 col-lg-6">

        <div class="form-group col-12">
            <label for="t-name" class="">Nombre:</label>
            <input id="t-name" type="text" name="title" class="form-control" required>
        </div>

        <div class="form-group col-12">
            <label for="t-prefix" class="">Prefijo:</label>
            <input id="t-prefix" type="text" name="prefix" class="form-control" required>
        </div>  

        <div class="form-group col-12">
            <label for="t-description" class="">Description:</label>
            <input id="t-description" type="text" name="description" class="form-control" required>
        </div>  

        <div class="col-12">
            <input type="submit" class="btn btn-primary" value="Crear" />
        </div>
    </form>
</div> 
